.background-login {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dykscnyvu/image/upload/v1606226385/image_de_fond_mcv_wacmfb.jpg');
}

.login-box {
  height: 350px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.background {
  text-align: -webkit-center;
}

.form-inputs {
  text-align: left;
}

.btn-login {
  background-color: $blue;
  color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
}

.btn-login:hover {
  color: $blue;
  background-color: white;
}

.email {
  margin-bottom: 0;
}

.password {
  padding-top: 10px;
  margin-bottom: 0px;
}

.title {
  padding-top: 10px;
  font-size: 25px;
}

.form-check {
  padding-top: 5px;
}

.login-box a {
  text-decoration: none;
  padding-bottom: 5px;
}

.form-control {
  text-align: -webkit-center;
  font-size: 15px;
}
