// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// index user

.user-container {
  display: grid;
  justify-content: center;
}

// index for admin
.index-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: space-evenly;
}

.all-projects {
  display: contents;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .index-container {
    grid-template-columns: 1fr;
  }
  .background {
    background-repeat: repeat;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .index-container {
    grid-template-columns: 1fr;
  }
  .background {
    background-repeat: repeat;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .index-container {
    grid-template-columns: 1fr 1fr;
  }
  .background {
    background-repeat: repeat;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .index-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .background {
    background-repeat: repeat;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .index-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .background {
    background-repeat: repeat;
  }
}
